{% extends "base.html" %}
{% block content %}
<form method="post" action="{{ url_for('employees.update', emp_id=emp.id) }}" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Name</label>
    <input name="name" class="form-control" value="{{ emp.name }}" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Phone</label>
    <input name="phone" class="form-control" value="{{ emp.phone }}">
  </div>
  <div class="col-12">
    <label class="form-label">Address</label>
    <input name="address" class="form-control" value="{{ emp.address }}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Salary</label>
    <input name="salary" type="number" step="0.01" class="form-control" value="{{ emp.salary }}">
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Update</button>
  </div>
</form>
{% endblock %}